@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cutive&family=Cutive+Mono&family=PT+Mono&family=Plaster&display=swap');
h1{
    padding-top: 100px;
    text-align: center;
    font-size: 5em;
    font-family: 'Plaster', cursive;
}
footer{
    font-size: 0.65em;
    text-align: center;
    padding: 20px 0px;

}
span{
    font-weight: bold;
}
