
.search{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 50px;
 
   
}
input{
    border: none;
    border-bottom: 1px solid rgb(207, 206, 206);
}
select{
border: 1px solid rgb(207, 206, 206);
border-radius: 3px;
color: grey;
padding: 2px;

}
.posts{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.post{
    width: 30%;
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}
p{
    font-size: 0.85em;
    
}

h4, h5, h6{
    font-size: 0.65em;
    
}
span{
    font-weight: bold;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
button{
    border: 1px solid rgb(207, 206, 206);
border-radius: 3px;
color: grey;
background-color: transparent;
margin-left: 10px;
}
span{
    font-weight: bold;
}